<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class ="container">
              <div class="navbar-header">
                <h3>naganocake</h3>
              </div>
              <div class="row">
            <div class= "slidemenu">
              <ul class="nav navbar-nav navbar-right">
              <% if end_user_signed_in? %>
              <li>
                <%= link_to "マイページ", public_end_user_path(current_end_user) %>
              </li>
              <li>
                <%= link_to "カート一覧", public_end_user_cart_items_path(current_end_user) %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
              </li>
              <% elsif admin_signed_in? %>

              <li>
                <p class="navtext">受注一覧</p>
              </li>
              <li>
                <%= link_to "商品登録", new_admin_item_path(current_end_user) %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
              <% else %>
                <li>
                  <%= link_to "sign_up", new_end_user_registration_path %>
                </li>
                <li>
                  <%= link_to "log_in", new_end_user_session_path %>
                </li>
              </ul>
              <% end %>
            </div>
          </nav>
        </header>
    <%= yield %>
      </div>
    </div>
  </body>
</html>
